body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav
{
    box-sizing: border-box;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    position: fixed;
   
    width: 100%;
    padding-left: 20px;

}
img
{
    width: 40px;
    
    
}
#right-menu
{
    display: block;
    
    margin-right: 15px;
    
}
.menu-item
{
display: inline-block;
position: relative;
Font-Family: 'Poppins', sans-serif;
color: black;
font-weight: 600;
Font-Size: 14px;
margin-right: 15px;
cursor: pointer;

}

#topbar-btn
{
    
    
    font-size: 12px;
    font-weight: 600;
    color: white;
    background-color: rgb(170, 210, 54);
    padding: 10px 35px;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}
.dropdown
{
    position: absolute;
    display: none;
    transform: translateX(-52px);
    top:15px;
    margin-top: 3px;
    height: 23vh;
    width: 12vw;    
    background-color:white;
    border-top: 1px solid orange;
    box-shadow: 3px 3px lightgray;
    text-align: center;
}
.dropdown >ul{
    list-style: none;
    padding: 0;
    padding: 0 15;
}
.dropdown >ul >li
{
    border-bottom: 1px solid orange;
    margin: 10px 0;
    padding-bottom: 10px;
    
}
.dropdown >ul >li:first-of-type
{
    margin-top: 20px;
}
.dropdown >ul >li:last-of-type
{
    border-bottom: none;
}

#drop:hover > .dropdown
{
    display: block;
}



/********** section-1 starts *********/
#section-1
{
    height: 100vh;
    width: 100vw;
    background-image: url(" https://firebasestorage.googleapis.com/v0/b/demoapi-43d03.appspot.com/o/landing-background.png?alt=media");
    background-size: cover;
    background-position-y:-80px; 
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    box-sizing: border-box;

}
#section-1-heading >h1
{
    text-transform: capitalize;
    color: black;

    text-align: center;
    
    position: static;
    

Font-Family: 'Poppins', sans-serif;
font-size: 44;
font-weight: 600;
letter-Spacing: 8.8px;
Line-Height: 1.2;
}

#section-1-content
{
    
    
    text-align: center;
    width: 100%;
    margin: 0;

Font-Family: 'Poppins', sans-serif;
font-Size: 14px;
Letter-Spacing: 0.5px;
font-weight: 400;
Color: #8b8b99;
}

/*******section-1 ends *********/

/*******section-2 starts**********/

#section-2
{
    height: 95%;
    width: 100%;
    
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: stretch;
    
}
.section-2-aside
{
    width: 25%;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: white;
    padding:112px 50px;
    font-size: 14px;

  /*  transition-property: all;
    transition-timing-function: ease;
    transition-duration: 0.3s;*/
    
       
    
    
}
.aside-item
{
    font-size: 96px;
    
    transition-property: all;
    transition-timing-function: ease;
    transition-duration: 0.3s;
}


#aside-1
{
    background-color: #5acda6;
    
}
#aside-2
{
    background-color:#91ac41; 
}
#aside-3
{
    background-color:#e4b476; 
}
#aside-4
{
    background-color:#f69dad; 
}

#section-2 > aside > h1
{
Font-Family: 'Poppins', sans-serif;
Font-weight: 600;
font-Size: 24px;


}

#section-2 > aside >p
{
Font-Family: 'Poppins', sans-serif;
font-Size: 14px;
Letter-Spacing: 0.5px;
Line-Height: 1.6;
}

/***********section-3 start**********/

#section-3
{
    height: 110%;
    width: 100%;
    Background-color: #f7eee2;
    text-align: center;
}
#section-3 >span:first-child
{
Color: #91ac41;
font-Size: 24px;
Font-Family: 'Caveat', cursive;
Margin: 0;
margin-Top: 95px;
display: inline-block;


}
#section-3 >h1
{
Font-Family: 'Poppins', sans-serif;
font-Size: 44px;
font-weight: 600;


}
#section-3 >p
{
Font-Family: 'Poppins', sans-serif;
font-Size: 16px;
Font-weight: 500;
Color: #8b8b99;
Letter-Spacing: 0.5px
}

#item-wrapper
{
    width:100%;
    height: 370px;
    background-color: #f7eee2;
     
    display: flex;
    justify-content: stretch;
    box-sizing: border-box;
    padding: 0 30px;
}
.containers
{
    height: 300px;
    display: inline-block;
    width:25%;
    background-color: #f7eee2;
    margin-top: 25px;
    padding: 0 18px;
}
.icon-wrapper
{
    display: inline-block;
    top:14px;
    height: 150;
    width: 150;
    border-radius: 50%;
    background-color: #e3b375;
    
}
.containers > h1
{
Font-Family: 'Poppins', sans-serif;
font-Size: 24px;
Font-weight: 600;
}
.containers > p
{
Font-Family: 'Poppins', sans-serif;
font-Size: 16px;
Letter-Spacing: 0.5px;
Font-weight: 500;
Color: #8b8b99;
}
.s3-icon
{
    Font-Size: 60px;
    width:60px;
    display: inline-block;
    margin-top:38px;
    color: white;  
}
/*********section-4 starts*******/
#section-4
{
    height: 120%;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    text-align: center;
}
#section-4 >span:first-child
{
Color: #91ac41;
font-Size: 24px;
Font-Family: 'Caveat', cursive;
Margin: 0;
margin-Top: 95px;
display: inline-block;


}
#section-4 >h1
{
Font-Family: 'Poppins', sans-serif;
font-Size: 44px;
font-weight: 600;


}
#section-4 >p
{
Font-Family: 'Poppins', sans-serif;
font-Size: 16px;
Font-weight: 500;
Color: #8b8b99;
Letter-Spacing: 0.5px
}
#card-wrapper
{
    display: flex;
    box-sizing: border-box;
    
    height: 370px;
    width: 100%;
    flex-direction: row;
    justify-content: stretch;
    align-content: space-around;
    background-color: white;
    padding:5px 30px;
}
.container-4
{
    display: inline-block;
    width: 30%;
    height: 350px;
    background-color: #f5f6fb;
    margin:auto auto;
    box-sizing: border-box;
    border-top-left-radius:45px;
    border-bottom-right-radius:45px;
    border-bottom-left-radius:45px;
    padding:24px 30px;

}
.container-4 >img
{
    Border-Radius: 50%;
    Width: 80px;
    padding-bottom: 30px;
}
.container-4 >p
{
Font-Family: 'Poppins', sans-serif;
font-Size: 14px;
margin-top: 20px;
Letter-Spacing: 0.5px;
Font-Style: Italic;
Color: #8b8b99;
}
.container-4 >h1
{
Font-Family: 'Poppins', sans-serif;
font-Size: 16px;
font-weight: 600;

}
.container-4 >p:last-of-type
{
Font-Family: 'Poppins', sans-serif;
font-Size: 12px;
Color: #8b8b99;
Font-Style: Italic;
}